body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f2f2f2;
  }
  
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 400px;
  }
  
  h1 {
    text-align: center;
  }
  
  .password-options {
    margin-bottom: 20px;
  }
  
  .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin-top: 10px;
  }
  
  .password-display {
    text-align: center;
  }
  
  #generatedPassword {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    font-size: 18px;
    color: green;
  }
  
  button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  